body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal{
  display: grid;
  color:black;
}

.modal button{
  float: right;
  width: fit-content;
  border:none;
  background-color: brown;
  color: white;
  font-size: 20px;
  border-radius: 3px;
}

.date{
  font-size: 50px;
  text-align: center;
}

.my-list{
  display: grid;
  grid-template-columns: auto auto;
  font-size: 20px;
  box-shadow: 1px 1px 10px 1px grey;
  margin-bottom:20px;
  width: 100%;
}

.time{
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
}


.heading{
  font-size: 25px;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.data{
  display: grid;
  text-align: right;
  margin-right: 40px;
}

:root{
  --blue: #7B38EA;
  --pink:#F100B7;
  --red:#FF3580;
  --orange:#FF8355;
  --yellow:#FFC349;
  --small :25px;
  --medium :50px;
  --large : 75px;
}

.react-calendar {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right top, #ffc349, #ff874a, #ff3b74, #f000b0, #7b38ea);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.react-calendar--doubleView {
  width: 100%;
  height: 100%;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 100%;
  height: 100%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: var(--large);
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  width: var(--large);
  background: none;
  font-size: var(--large);
  font-weight: bold;
  text-transform: uppercase;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color:var(--orange);
}
.react-calendar__navigation button[disabled] {
  background-color: var(--yellow);
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--medium);
  text-decoration: none;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--medium);
  text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
  color:var(--yellow);
}
.react-calendar__month-view__days__day--neighboringMonth {
  color:var(--pink);
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1em 0.5em;
}
.react-calendar__tile {
  width: 100%;
  text-align: center;
  font-size: var(--medium);
  background: none;
}
.react-calendar__tile:disabled {
  background-color: var(--orange);
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color:var(--red);
}
.react-calendar__tile--now {
  background: var(--yellow);
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background:var(--blue);
}
.react-calendar__tile--hasActive {
  background: var(--blue);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: var(--blue);
}
.react-calendar__tile--active {
  background: var(--blue);
  color:var(--orange);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--blue);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: var(--blue);
}
