body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal{
  display: grid;
  color:black;
}

.modal button{
  float: right;
  width: fit-content;
  border:none;
  background-color: brown;
  color: white;
  font-size: 20px;
  border-radius: 3px;
}

.date{
  font-size: 50px;
  text-align: center;
}

.my-list{
  display: grid;
  grid-template-columns: auto auto;
  font-size: 20px;
  box-shadow: 1px 1px 10px 1px grey;
  margin-bottom:20px;
  width: 100%;
}

.time{
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
}


.heading{
  font-size: 25px;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.data{
  display: grid;
  text-align: right;
  margin-right: 40px;
}